cartopy
coverage
dask-ml
datashader
fiona
gdal
geopandas
graphviz
keras
mysql-connector-python
netcdf4
psycopg2
pyodbc
pyproj
pytables
pytorch
rasterio
rpy2
scikit-image
scikit-learn
shapely
tensorflow
xarray
xgboost
xlutils
