eli5=0.13.0=pyhd8ed1ab_0
alembic
altair
arrow
bcrypt
beautifulsoup4
black
cassandra-driver
chardet
click
colorcet
connexion[swagger-ui]
cookiecutter
coverage
cvxopt
dash
dask
email_validator
fabric
faker
fastapi
flake8
flask
flask-httpauth
flask-security-too
flask-sqlalchemy
folium
#gekko
geoalchemy2
graphviz
h5py
holoviews
httpie
humanize
hypothesis
imbalanced-learn
inflect
ipytest
jellyfish
jupyter-server-proxy
keyring
#littleballoffur
marshmallow
marshmallow-sqlalchemy
mysql-connector-python
mystic
#nb_black
nbconvert
networkx
openpyxl
#ortools
pillow
pint
plotly
protobuf
psutil
pyarrow
pycodestyle
pylint
pymongo
pyomo
pysal
pytesseract
pytest
pytest-cov
QuantLib
#redis
requests
rioxarray
rtree
scrapy
sh
streamlit
#teradatasql
textdistance
#vega-datasets
voila
wordcloud
zarr
gensim

# possibly old/dead, problematic libraries
#keyrings.cryptfile
logzero
openml
passlib
pydantic-sqlalchemy
pydot
wikipedia
xlutils
yellowbrick
cx_Oracle
mysqlclient
