built 
blaze 
#littleballoffur 
pyhive 
pyod 
tika 
docx2txt 
Flask-Principal 
liac-arff 
mgwr 
odo 
python-louvain 
spvcm 
asciitree 
future 
compressed-rtf 
datashape 
olefile
teradatasql
ortools
gekko
redis

# potentially problematic (old, dead) libraries
keyrings.cryptfile
scapy
pdf2image

